body{
    background-image:url("https://cdn.aarp.net/content/dam/aarp/auto/2016/06/1140-distracted-driving-tips-intro.imgcache.revc3146837140ff361f2e7651d97e0a010.jpg");
    Background-size: 100%;
    background-attachment: fixed;
    color:red;
    }
h1{
    color:red;
    font-size: 40px;
    }
